/* CSS for Vote extension */
.vote-box {
	background-color: #68BD46;
	height: 30px;
	padding: 13px 0px 0px;
	text-align: center;
	width: 43px;
}

.vote-number {
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
}

.vote-action {
	text-align: center;
	width: 43px;
}

.vote-action a {
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
}

.rating-score {
	background-color: #428BCA;
	color: #FFF;
	float: left;
	font-size: 14px;
	font-weight: bold;
	padding: 1px 8px 0px;
	margin: 1px 7px 0px 0px;
	text-align: center;
}

.ratings-top {
	position: absolute;
	top: 37px !important;
	right: 0px !important;
	width: 100%;
}

.rating-section img {
	vertical-align: text-bottom;
}

.rating-voted {
	line-height: 20px;
	font-size: 9px;
	position: absolute;
	/*right: 0px;*/
}

/* Styling for the (n votes) after rating box/stars */
.rating-total {
    font-weight: bold;
    font-size: 11px;
    /*margin: 3px 0px 0px 20px;*/
}

.vote-rank{
	color: #DCDCDC;
	font-size: 18px;
	font-weight: bold;
	float: left;
	margin-right: 5px;
}

.vote-remove-stars-link{
    float: right;
}
.friend-vote{
	list-style: none;
	margin: 0px !important;
	-webkit-padding-start: 0px;
}
.friend-vote li{
	margin: 0px !important;
}
.rating-section span.vote-rating-star{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
}

.rating-section span.vote-rating-star:before {
    content: "\f006";
    padding-right: 5px;
    color: #777777;
}
.rating-section span.vote-rating-star.voted:before{
	content: "\f005";
    color: #000;
}
.rating-section span.vote-rating-star.on:before{
	content: "\f005";
    color: #777;
}
.rating-section span.vote-rating-star.off:before{
	content: "\f006";
    color: #777777;
}
.rating-section span.vote-rating-star.half:before{
	content: "\f123";
	color: #777;
}
.rating-section span.vote-rating-star:hover {
    cursor: pointer;
}
.rating-section span.vote-rating-star:hover:before, .rating-section span.vote-rating-star:hover ~ span.vote-rating-star:before{
	content: "\f005";
    color: #000;
}
.rating-section {
	float: left;
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 18px;
}
.rating-total{
	font-size: 14px;
	display:block;
}
.list-group-self{
}
.list-group-item-self{
	background-color: #000 !important;
	border: none !important;
	padding: 0 !important;
}
.rating-total{
}
